<div class='label-explorer'>
    <div class='label-explorer-header'>
        <button (click)='toggleLabelCreation()'>New Label</button>
        <button (click)='toggleAnnotation()'>New Annotation</button>
        <button (click)='deleteSelectedLabel()'>Delete Label</button>
    </div>
    <div class='label-explorer-content'>
        <div *ngIf='creatingNewLabel'>
            <form (keydown.enter)='$event.preventDefault()'>
                <input class='new-label-input' type='text' [formControl]='newLabelName' (keyup.enter)='createNewLabel($event)'>
            </form>
        </div>
        <app-annotation-label
        *ngFor='let label of labels; let i = index'
        [label]='label'
        (selectedChange)='setSelectedLabel(i)'
        [selected]='i == selectedLabel'>
        </app-annotation-label>
    </div>
</div>