.content-view {
    background-color: rgb(146, 146, 146);
    height: calc(100vh - 40px);
    width: calc(100vw - 220px);
    margin: 20px;
    margin-left: 200px;
}

.side-nav {
    background: linear-gradient(90deg, rgba(211, 211, 211, 0.705), rgba(107, 107, 107, 0.0));
    height: 100%;
    width: 50px;
    float: left;
    position: relative;
    z-index: 1;
}

.right {
    background: linear-gradient(-90deg, rgba(211, 211, 211, 0.705), rgba(107, 107, 107, 0.0));
    float: right
}

.side-nav:hover {
    cursor: pointer;
}

.graphical-container {
    position: absolute;
    display: block;
    z-index: 0;
}